.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color:lightskyblue;
  min-height: 100vh;
}

.title {
  background-color: dodgerblue;
  color: white;
  width: fit-content;
  align-self: center;
  padding: 10px;
}

.todo {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  background-color: aliceblue;
  padding: 50px;
  border-radius: 30px;
}

.todo-list {
  width: fit-content;
}

.todo-form span {
  display: flex;
  justify-content: space-between;
}

.todo-form input {
  width: 80%;
}